doctype html
html(lang="en")
  head
    title= "Cooper Trowbridge"
  body
    h1#title Welcomes to the websites
    div
      ul.menu
        li.1 One
        li.2 Two
        li.3 Three
    button#p button
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

